@media (max-width: 400px) {
    #BoxMessage {
        flex-direction: column; /* Cambia la dirección a fila en pantallas más grandes */
    }
    #BoxMessage input {
        border-radius: 0.5rem; /* Esto equivale a 'rounded-lg' */
    }
    #BoxMessage button {
        border-radius: 0.5rem; /* Esto equivale a 'rounded-lg' */
    }
}